body {
  background-color: rgb(243, 229, 216);
  font-family: "forum sans-serif";
}
#body {
  background-color: white;
  border-radius: 20px;
  margin-top: 80px;
  height: 80%;
  width: 50%;
  align-items: center;
  margin-left: 350px;
  animation-name: dropDown;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}
@keyframes dropDown {
  from {
    margin-top: -200px; /* Start position above the viewport */
  }
  to {
    margin-top: 80px; /* End position at the desired location */
  }
}
img {
  margin-top: 35px;
  top: 70px;
  width: 550px;
  height: 250px;
  border-radius: 15px;
  margin-left: 35px;
}
#para h1 {
  margin-left: 35px;
}
#para p {
  left: 50px;
  margin-left: 35px;
  font-size: 18px;
  width: 90%;
}
#box {
  margin-left: 35px;
  margin-top: 30px;
  background-color: rgb(255, 247, 252);
  border-radius: 20px;
  width: 90%;
  height: 150px;
}
#box h2 {
  margin-left: 20px;
}
#box h3 {
  margin-right: 250px;
}
#ingredients {
  overflow: auto;
  width: 90%;
  margin-top: 40px;
  border-radius: 20px;
  background-color: rgb(255, 247, 252);
  margin-left: 25px;
}
#ingredients h2 {
  margin-left: 20px;
}
#ingredients li {
  line-height: 30px;
  font-size: 18px;
  margin-left: 20px;
}
#instruction {
  margin-left: 25px;
  width: 100%;
}
#instruction h2 {
  margin-left: 20px;
}
#instruction ul {
  margin-right: 20px;
  line-height: 25px;
}
#Nutrition {
  width: 90%;
  margin-top: 40px;
  margin-left: 25px;
}
#Nutrition li {
  line-height: 30px;
  font-size: 18px;
  margin-left: 20px;
}
#Nutrition ul {
  margin-right: 20px;
  line-height: 25px;
}
